:root {
    --black: #000000;
    --white: #FFFFFF;
    --btn: #FB8B24;
    --primary-light: #E7CFF5;
    --primary-dark: #5F0F40;
    --background: #FBFBFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 62.5%;
    font-family: 'Poppins', Arial, Helvetica;
}

body {
    max-width: 32rem;
    margin: auto;
    background-color: var(--white);
    text-align: center;
}

.title {
    color: var(--primary-dark);
    font-weight: 900;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    width: 17.4rem;
}

.nav__content {
    height: 12.8rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.menu__icon {
    display: none;
    position: absolute;
    right: 5.1rem;
    z-index: 1;
    cursor: pointer;
}

#menu__icon {
    display: none;
}

.menu__icon,
.menu__icon>img {
    width: 3rem;
    height: 3rem;
}

.menu__icon>label {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.grid-gap {
    display: none;
}

.navigation {
    background: var(--white);
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
    border-radius: .2rem;
    padding: .4rem 0 .3rem 3.5rem;
    position: absolute;
    top: 3.6rem;
    right: 0;
    z-index: 1;
    width: 12.3rem;
    height: 12.4rem;
    align-items: flex-start;
}

.navigation a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
}

.navigation a:not(:first-child) {
    margin-top: .7rem;
}

.left {
    width: 1.1rem;
    height: 2.4rem;
    position: absolute;
    top: 4.2rem;
    left: .9rem;
}

.header__picture {
    position: relative;
    height: 33.6rem;
}

.btn {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: .2rem;
    padding: 1.4rem 3.7rem .8rem 3.8rem;
    color: var(--white);
    text-align: center;
}

.btn.btn-transparent {
    background-color: transparent;
    color: var(--white);
    border: .1rem solid var(--white);
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
}

.btn.btn-primary {
    background-color: var(--btn);
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.6rem;
    width: 100%;
    height: 6.4rem;
    max-width: 32rem;
    display: block;
    margin: auto;
}

.container {
    background-color: var(--background);
}

.brings-joy-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover-image,
.cover-image img {
    width: 100%;
    height: 100%;
}

.brings-joy__text {
    margin-top: 5.4rem;
    max-width: 28.8rem;
}

.text__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.6rem;
}

.text__title span {
    color: #5F0F40;
    font-weight: 600;
}

.text__desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 2.5rem;
}

.text__footer {
    padding-top: 3.1rem;
    gap: 1.5rem;
}

.text-group {
    gap: .9rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.text-group span:last-child {
    font-weight: 700;
    color: var(--white);
    background-color: #5F0F40;
    padding: .45rem .7rem .35rem .8rem;
    border-radius: .2rem;
}

.brings-joy-services {
    display: grid;
    margin-top: 9.95rem;
    gap: 2.6rem;
    max-width: 28.8rem;
}

.service__item-logo-box {
    width: 8rem;
    height: 8rem;
    background-color: var(--primary-light);
    border-radius: 50%;
    /* margin: auto; */
}

.service__item-title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-top: 1.5rem;
}

.service__item-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black);
    margin-top: 1rem;
    max-width: 37rem;
}

.express-your-section {
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 7.5rem;
}

.express-your__picture-background,
.express-your__picture-background img {
    height: 100%;
    width: 100%
}

.express-your__content {
    position: absolute;
    top: 15.2rem;
    width: 100%;
    max-width: 28.8rem;
}

.express-your__picture,
.express-your__picture img {
    height: 20.8rem;
}

.express-your__text {
    margin-top: 7rem;
}

.express-your-text__title {
    color: var(--black);
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
}

.express-your-text__desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    padding-top: 1.8rem;
}

.express-your-text__desc+.btn.btn-primary {
    margin-top: 3.8rem;
}

.product-featured-section {
    margin: auto;
    margin-top: 7.8rem;
    max-width: 28.8rem;
}

.featured__top img {
    height: 20rem;
    width: 100%;
}

.featured__top-title {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-top: 7rem;
}

.featured__top-desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 2.5rem;
}

.featured__top-image img {
    width: 100%;
    height: 20rem;
}

.box-image {
    width: 8rem;
    height: 8rem;
    background-color: var(--primary-light);
    border-radius: 50%;
}

.featured__list {
    margin-top: 3rem;
}

.featured-item+.featured-item {
    margin-top: 4rem;
}

.featured-item__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
}

.featured-item__header {
    gap: 1.4rem;
}

.featured-item__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-top: 1.3rem;
    margin-bottom: 3.8rem;
}

.featured-item:nth-child(1) {
    margin-top: 3rem;
}

.featured-item:nth-child(2) {
    margin-top: 5.2rem;
}

.featured-item:nth-child(3) {
    margin-bottom: 1.9rem;
    margin-top: 3rem;
}

.featured-item__check {
    gap: 1.3rem;
    margin-top: 2rem;
}

.featured-item__check img {
    border-radius: 50%;
    background-color: var(--primary-dark);
    width: 3.3rem;
    height: 3.2rem;
    padding: .96rem .8rem;
}

.featured-item__check-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.featured-item__image {
    gap: 2.3rem;
    margin-top: 3.5rem;
}

.featured-item__image img {
    width: 100%;
    height: 24rem;
}

.what-else-section {
    background-color: var(--white);
    margin: auto;
    margin-top: 9.6rem;
}

.what-else-section>img {
    height: 33.4rem;
    width: 100%;
}

.what-else-content {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-else__text-title {
    font-size: 4.8rem;
    line-height: 5.6rem;
}

.what-else__text-desc {
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
}

.what-else__points {
    margin-top: 7.1rem;
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
}

.point__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--primary-dark);
    margin-top: 1.4rem;
}

.point__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: .2rem;
}

.images__section {
    margin: auto;
    max-width: 28.8rem;
    margin-top: 15.5rem;
}

.images__header {
    display: flex;
    flex-direction: column;
}

.images__header img {
    width: 100%;
}

.images__text-color {
    margin-top: 7.2rem;
}

.images__text-title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.01rem;
}

.images__text-desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 2.8rem;
}

.images__color__title {
    margin-top: 3rem;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.images__color {
    display: flex;
    gap: .9rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.images__color>div {
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    position: relative;
    appearance: none;
}

.images__color>div:active::after {
    content: "";
    width: 3.6rem;
    height: 3.6rem;
    border: .1rem solid var(--white);
    position: absolute;
    top: .6rem;
    left: .6rem;
}

.images__content {
    display: grid;
    grid-template-columns: 28.8rem;
    grid-template-rows: 18.4rem 38.4rem 38.4rem 18.4rem 18.4rem 28.8rem;
    gap: 2.4rem;
    margin-top: 4rem;
}

.images__content img {
    width: 100%;
    height: 100%;
}

.reviews-article {
    margin-top: 8rem;
    background-color: var(--white);
}

.reviews__top {
    max-width: 28.8rem;
}

.reviews__top>picture,
.reviews-top-image {
    width: 13.8rem;
    height: 28.8rem;
}

.reviews__top-content {
    margin-top: 7rem;
}

.reviews__top-title {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.01rem;
}

.reviews__top-desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 2.5rem;
}

.reviews__center {
    margin-top: 6.5rem;
}

.reviews__center-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4.8rem;
    color: var(--primary-dark);
}

.reviews__center-content {
    margin-top: 6.6rem;
    gap: 6.5rem;
    align-items: flex-start;
}

.select-stars {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.select-stars img {
    width: 1.6rem;
    height: 1.6rem;
}

.reviews__item-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 1.7rem;
}

.reviews__item-title span {
    font-weight: 700;
}

.reviews__item-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-top: 1rem;
}

.reviews__item-image {
    display: grid;
    grid-template-columns: auto;
    margin-top: 3.9rem;
    gap: 2.4rem;
}

.reviews__item-image img {
    width: 28.8rem;
    height: 28.8rem;
}

.reviews__item-image:first-child img:last-child {
    width: 28.8rem;
    height: 28.9rem;
}

.reviews__item-image:first-child img:nth-child(3) {
    width: 28.9rem;
    height: 28.8rem;
}

.reviews__item-image:last-child img:nth-child(2) {
    width: 29.2rem;
}

.reviews__item-image:last-child img:last-child {
    width: 29rem;
}

.faq-section {
    margin-top: 3.8rem;
    padding-top: 8rem;
}

.faq__header {
    max-width: 28.8rem;
    margin: auto;
}

.faq__header>img {
    width: 28.6rem;
    height: 28rem;
    margin: 0 .1rem;
}

.faq__header-content {
    margin-top: 7rem;
}

.faq__header-title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.6rem;
}

.faq__header-desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 1.9rem;
}

.open {
    display: none;
}

.open:checked~p.faq-item__desc {
    animation-name: zoom-in;
    animation-timing-function: ease-out;
    animation-duration: .7s;
    height: auto;
}

@keyframes zoom-in {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 100%;
        opacity: 1;
    }
}

.open:checked~p.faq-item__title {
    font-weight: 700;
    color: var(--primary-dark);
}

.faq-item__icon {
    cursor: pointer;
}

.open:checked~.tem>.faq-item__icon {
    background-color: var(--primary-dark);
    content: url('../images/hide@2x.png');
}

.faq__list {
    text-align: left;
    margin-top: 8.7rem;
    display: flex;
    flex-direction: column;
}

.faq__list-right {
    margin-top: 0.1rem;
}

.faq__list-right,
.faq__list-left {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.faq__list-item {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 2.1rem 1.6rem 1.9rem 1.6rem;
}

.faq-item__title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: calc(100% - 3.2rem);
}

.faq-item__icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.3rem 1rem;
    background-color: var(--primary-light);
    border-radius: 50%;
}

.tem {
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
    border-radius: 50%;
    user-select: none;
}

.faq-item__desc {
    background-color: #F3F3F3;
    border-left: .4rem solid var(--primary-dark);
    width: calc(100% - 3.2rem);
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1.2rem;
    line-height: 3.2rem;
    height: 0;
    opacity: 1;
    overflow: hidden;
}

.contact-article {
    background-color: var(--white);
}

.contact__header {
    padding: 13.1rem 1.6rem 7.1rem 1.6rem;
}

.contact__header img {
    height: 40rem;
    width: 100%;
}

.contact__header-content {
    margin-top: 7rem;
}

.contact__header-title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.6rem;
}

.contact__header-desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 2.3rem;
}

.contact__content {
    margin-top: 7.1rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6rem 1.6rem;
    background-color: var(--background);
}

.form__label {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 4rem;
    color: var(--primary-dark);
}

.form__control {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    border: none;
    border-bottom: .1rem solid var(--primary-dark);
    outline: none;
    background-color: var(--background);
}

.form__label+.form__control {
    margin-top: 2rem;
}

.form__control+.form__label {
    margin-top: 2.9rem;
}

.btn.btn-primary.form-btn {
    margin-top: 4rem;
    background-color: var(--primary-dark);
    font-weight: 700;
    line-height: 4rem;
    text-transform: initial;
    padding: 1.2rem 11.2rem;
}

.contact__other {
    padding: 4rem 0;
    background-color: var(--white);
    width: 100%;
}

.contact__other img:nth-child(3) {
    margin-top: 2rem
}

.contact__other img:nth-child(5) {
    margin-top: 1.8rem
}

.contact-item__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 1.3rem;
}

.footer-wrapper {
    background-color: var(--background);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 2.5rem 4.5rem;
}

@media screen and (min-width: 48rem) {
    .image-desktop,
    .image-tablet {
        height: 52.8rem;
    }
    .left {
        display: none;
    }
    .logo {
        width: 29rem;
    }
    .nav__content {
        height: 14.4rem;
    }
    .text-group {
        flex-direction: row;
    }
    .header__picture {
        height: 52.8rem;
    }
    .featured-item__image {
        flex-direction: row;
    }
    .faq-item__desc {
        background-color: var(--white);
        padding: 0;
        border: none;
    }
    .reviews-section {
        padding: 8rem 0;
    }
    .btn.btn-transparent {
        bottom: 2.4rem;
    }
    .grid-gap {
        display: block;
    }
    .text__footer {
        gap: 1.6rem;
    }
}

@media only screen and (max-width:61.94rem) and (min-width:48rem) {
    body {
        max-width: 76.8rem;
    }
    .logo {
        height: 14rem;
    }
    .navigation {
        display: none;
        width: 76.8rem;
        top: 0;
        box-shadow: none;
        background-color: rgba(0, 0, 0, .6);
        padding: .2rem 0 .1rem 1.5rem;
        height: 100%;
        align-items: center;
    }
    .navigation a {
        color: var(--white);
    }
    .navigation a:active {
        background-color: #ccc;
        color: var(--white);
    }
    .menu__icon {
        display: block;
    }
    .brings-joy__text {
        max-width: 54.4rem;
        margin-top: 7rem;
    }
    .text__desc {
        margin-top: .5rem;
    }
    .brings-joy-services {
        grid-template-columns: 1fr 1fr;
        margin-top: 8.35rem;
        max-width: 64rem;
        gap: 3.4rem 6.4rem;
    }
    .express-your__picture-background {
        left: -23.8rem;
        right: -20.6rem;
    }
    .express-your__content-icon {
        height: 54.7rem;
        width: 73.6rem;
    }
    .express-your__content-icon img {
        width: 100%;
        height: 100%;
    }
    .express-your__picture,
    .express-your__picture img {
        height: 54.7rem;
    }
    .express-your__text {
        margin-top: 7.25rem;
        max-width: 54.4rem;
    }
    .express-your-section {
        height: 136.7rem;
    }
    .express-your__content {
        top: 22.1rem;
        max-width: 73.6rem;
    }
    .product-featured-section {
        max-width: 72rem;
    }
    .featured__top {
        max-width: 60.4rem;
        margin: auto;
    }
    .featured__top img {
        height: 24rem;
        width: 35.2rem;
    }
    .featured-item :is(div,
    p,
    header) {
        max-width: 54.2rem;
        margin: auto;
        margin-top: 2rem;
    }
    .featured-item__header {
        max-width: 54.2rem;
        margin: auto;
    }
    .featured-item__image {
        gap: 2rem;
    }
    .featured-item__image img {
        width: 22rem;
        height: 18.4rem;
    }
    .what-else-section {
        margin-top: 16rem;
        padding: 0 0 5.1rem 0;
    }
    .what-else-section>img {
        width: 54.4rem;
        height: 56rem;
    }
    .what-else__text {
        max-width: 47rem;
    }
    .what-else__points {
        grid-template-columns: auto auto;
        gap: 3.5rem 4.8rem;
        max-width: 67.2rem;
    }
    .images-section {
        margin-top: 8rem;
        max-width: 73.6rem;
    }
    .images__text-color {
        max-width: 54.4rem;
    }
    .images__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images__header img {
        width: 35.2rem;
        height: 21.6rem;
    }
    .images__content {
        grid-template-columns: 36rem 36rem;
        gap: 0 1.6rem;
        justify-content: center;
        grid-template-rows: repeat(129, .8rem);
    }
    .images__content div:nth-child(1) {
        grid-column: 1;
        grid-row: 1/31;
    }
    .images__content div:nth-child(3) {
        grid-column: 1;
        grid-row: 31/33;
    }
    .images__content div:nth-child(5) {
        grid-column: 1;
        grid-row: 33/96;
    }
    .images__content div:nth-child(7) {
        grid-column: 1;
        grid-row: 96/98;
    }
    .images__content div:nth-child(9) {
        grid-column: 1;
        grid-row: 98/129;
    }
    .images__content div:nth-child(2) {
        grid-column: 2;
        grid-row: 1/57;
    }
    .images__content div:nth-child(4) {
        grid-column: 2;
        grid-row: 57/59;
    }
    .images__content div:nth-child(6) {
        grid-column: 2;
        grid-row: 59/86;
    }
    .images__content div:nth-child(8) {
        grid-column: 2;
        grid-row: 86/88;
    }
    .images__content div:nth-child(10) {
        grid-column: 2;
        grid-row: 88/129;
    }
    .reviews__top {
        max-width: 54.4rem;
    }
    .reviews__center {
        max-width: 54.4rem;
    }
    .reviews__top>picture,
    .reviews-top-image {
        width: 16.4rem;
        height: 34.4rem;
    }
    .reviews__item-image {
        grid-template-columns: auto auto;
        gap: 2.4rem 2.8rem;
        max-width: 54.4rem;
        margin: auto;
        margin-top: 4rem;
    }
    .reviews__item-image img {
        width: 25.6rem;
        height: 25.6rem;
    }
    .reviews__item-image:first-child img:first-child {
        width: 26rem;
    }
    .reviews__item-image:first-child img:nth-child(2) {
        width: 26.4rem;
    }
    .reviews__item-image:first-child img:nth-child(3) {
        width: 25.8rem;
    }
    .reviews__item-image:first-child img:last-child {
        width: 26rem;
    }
    .reviews__item-image:last-child img:nth-child(2) {
        width: 25.7rem;
    }
    .reviews__item-image:last-child img:nth-child(3) {
        width: 25.8rem;
    }
    .reviews__item-image:last-child img:last-child {
        width: 26.2rem;
    }
    .faq-section {
        padding-top: 7.3rem;
        margin: 0;
        max-width: 54.4rem;
        margin: auto;
        padding-bottom: 8.7rem;
    }
    .faq__header {
        max-width: 100%;
    }
    .faq__header>img {
        width: 35.2rem;
        height: 34.4rem;
        margin-top: 0;
    }
    .contact-article {
        background-color: var(--white);
    }
    .contact__header {
        max-width: 54.4rem;
        margin: auto;
    }
    .contact__header img {
        width: 25.5rem;
        height: 35.2rem;
    }
    .contact__form {
        width: 48rem;
        margin: auto;
    }
    .contact-item__text {
        margin-top: 2.1rem;
    }
    .service__item.flex {
        justify-content: flex-start;
    }
    .menu__icon>label {
        font-size: 2.4rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    input#menu__icon:checked+nav.navigation {
        display: flex;
    }
}

@media only screen and (min-width:62rem) {
    body {
        max-width: 144rem;
        text-align: left;
    }
    .logo {
        height: 14.4rem;
    }
    .navigation {
        top: 0;
        flex-direction: row;
        width: auto;
        box-shadow: none;
        background-color: transparent;
        gap: 5rem;
        margin-right: 4.4rem;
        align-items: center;
    }
    .image-desktop {
        z-index: 1;
    }
    .navigation a:not(:first-child) {
        margin: 0;
    }
    .navigation a:first-child {
        color: var(--btn);
    }
    .brings-joy-section {
        flex-direction: row;
        gap: 13rem;
        justify-content: center;
    }
    .brings-joy__text {
        margin-top: 8rem;
        max-width: 57rem;
    }
    .brings-joy-services {
        grid-template-columns: auto;
        max-width: 47rem;
        margin-top: 16rem;
        padding: 0;
    }
    .service__item {
        gap: 2rem;
        flex-direction: row;
    }
    .text__footer {
        flex-direction: row;
        gap: 3.4rem;
    }
    .express-your-section {
        height: 84.6rem;
    }
    .express-your__picture-background {
        left: -11.9rem;
        right: -12rem;
    }
    .express-your__content {
        flex-direction: row-reverse;
        top: 25.3rem;
        gap: calc(100% - 57rem - 47rem);
        max-width: 117rem;
    }
    .express-your__content-icon {
        margin-top: 3.2rem;
    }
    .express-your__content-icon img {
        width: 57rem;
        height: 40.8rem;
    }
    .express-your__text {
        margin: 0;
        max-width: 47rem;
    }
    .product-featured-section {
        max-width: 97rem;
        margin: auto;
    }
    .featured-item__header {
        flex-direction: row;
        justify-content: start;
    }
    .featured__top {
        flex-direction: row-reverse;
        gap: 13rem;
        margin: auto;
    }
    .featured__top-content {
        max-width: 47rem;
    }
    .featured__top img {
        width: 37rem;
        height: 25.2rem;
    }
    .featured-item__content {
        max-width: 51.7rem;
    }
    .featured-item__image {
        gap: 3.2rem;
    }
    .featured-item__image img {
        width: 24rem;
        height: 20rem;
    }
    .featured-item__check {
        flex-direction: row;
        justify-content: start;
    }
    .featured__list-item {
        margin: 0 32.8rem;
    }
    .what-else-section {
        flex-direction: row-reverse;
        gap: 13rem;
        justify-content: center;
        padding-bottom: 7.5rem;
    }
    .what-else-section>img {
        width: 47rem;
        height: 56rem;
        margin-top: 16.8rem;
    }
    .what-else-content {
        width: 47rem;
    }
    .what-else__points-item {
        display: flex;
        align-items: flex-start;
        gap: 2.8rem;
    }
    .point__title {
        margin-top: 0;
    }
    .images__section {
        max-width: 100%;
    }
    .images__header {
        flex-direction: row-reverse;
        gap: 13rem;
    }
    .images__header>img {
        width: 37.1rem;
        height: 22.7rem;
    }
    .images__content {
        gap: 0 3rem;
        grid-template-columns: 50rem 50rem;
        justify-content: center;
        grid-template-rows: repeat(174, .8rem);
    }
    .images__content div:nth-child(1) {
        grid-column: 1;
        grid-row: 1/41;
    }
    .images__content div:nth-child(3) {
        grid-column: 1;
        grid-row: 41/46;
    }
    .images__content div:nth-child(5) {
        grid-column: 1;
        grid-row: 46/129;
    }
    .images__content div:nth-child(7) {
        grid-column: 1;
        grid-row: 129/134;
    }
    .images__content div:nth-child(9) {
        grid-column: 1;
        grid-row: 134/174;
    }
    .images__content div:nth-child(2) {
        grid-column: 2;
        grid-row: 1/74;
    }
    .images__content div:nth-child(4) {
        grid-column: 2;
        grid-row: 74/79;
    }
    .images__content div:nth-child(6) {
        grid-column: 2;
        grid-row: 79/114;
    }
    .images__content div:nth-child(8) {
        grid-column: 2;
        grid-row: 114/119;
    }
    .images__content div:nth-child(10) {
        grid-column: 2;
        grid-row: 119/174;
    }
    .images__text-color {
        max-width: 47rem;
    }
    .images__color {
        justify-content: flex-start;
    }
    .images__content>img {
        width: 50rem !important;
    }
    .reviews__top {
        flex-direction: row-reverse;
        gap: 13rem;
        max-width: 117rem;
    }
    .reviews__top-content {
        max-width: 57rem;
    }
    .reviews__center {
        align-items: flex-start;
    }
    .reviews__center-content {
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }
    .reviews__center-item {
        max-width: 57rem;
    }
    .select-stars {
        justify-content: flex-start;
    }
    .reviews__item-image {
        grid-template-columns: repeat(2, 17rem);
        gap: 1.6rem;
    }
    .reviews__item-image>img {
        width: 17rem !important;
        height: 16.7rem !important;
    }
    .reviews__center-content {
        margin-top: 3rem;
    }
    .faq__header {
        flex-direction: row-reverse;
        max-width: 100%;
        gap: 13rem;
    }
    .faq__header>img {
        width: 47rem;
        height: 45.7rem;
    }
    .faq__header-content {
        max-width: 57rem;
    }
    .faq__list {
        justify-content: center;
        flex-direction: row;
        gap: 3rem;
        padding-bottom: 8rem;
    }
    .faq__list-right,
    .faq__list-left {
        flex-basis: 57rem;
        gap: 2.4rem;
    }
    .faq__list-right {
        margin-top: 0;
    }
    .faq-item__desc {
        padding: 0;
    }
    .contact__header {
        flex-direction: row-reverse;
        gap: 20.4rem;
    }
    .contact__header>img {
        width: 28.8rem;
        height: 40rem;
        margin-right: 10.8rem;
    }
    .contact__header-content {
        max-width: 57rem;
    }
    .contact__content {
        flex-direction: row;
        gap: 21.4rem;
        margin-top: 3.2rem;
    }
    .contact__form {
        width: 48rem;
        padding: 6.9rem 4rem 8rem 4rem;
    }
    .contact__other {
        width: 47.6rem;
    }
    .footer-wrapper {
        text-align: center;
        margin-top: 8rem;
    }
    .btn.btn-transparent {
        right: 13.5rem;
    }
    .express-your-text__desc+.btn.btn-primary {
        margin-top: 3.1rem;
        margin-left: 0;
    }
    .express-your__picture,
    .express-your__picture img {
        height: 40.8rem;
    }
    .reviews__top>picture,
    .reviews-top-image {
        width: 47rem;
        height: 32.8rem;
    }
}