@media(max-width:980px) {
    .navbar {
        padding: 10px 30px 10px 30px;
        gap: 20px;
    }
    .info-company {
        padding: 82px 20px 60px 20px;
    }
    .what-do-your-need__section {
        left: 50px;
        right: 50px;
    }
    .what-do-your-need__form {
        left: 50px;
        right: 50px;
    }
    .what-do-your-need__title {
        left: 50px;
        right: 50px;
    }
    .form__control {
        padding: 12px 10px;
    }
    .form__btn {
        padding: 7px 10px;
        min-width: 180px;
        bottom: -3px;
    }
    .get-the-app__section {
        margin-left: 290px;
    }
    .testimonial__section {
        padding: 0 10px;
    }
    .become-a-host__section {
        margin: 123px 10px 0 10px;
    }
    .popular__section {
        margin: 113px 10px 0 10px;
    }
    .popular__content {
        height: calc(796px*.8);
    }
    .popular__content--item {
        width: calc(258px*.8);
        height: calc(739px*.8);
    }
    .popular__content--item__label {
        top: calc(649px*.8);
    }
    .popular__content--item:nth-child(even) {
        transform: translateY(calc(57px*.8));
    }
    .how__item--content {
        margin-left: 10px;
    }
    .featured__section {
        margin-left: 20px;
    }
    .featured__top {
        margin: 0 10px;
    }
    .partners__section {
        padding: 0 20px 0 20px;
    }
    .stats__section {
        margin: 66px 50px 0 50px;
    }
    .CTA-text {
        margin-left: 50px;
    }
    .how-it-works__section {
        padding: 108px 50px 43px 50px;
    }
    .hero__bottom {
        padding: 107px 50px 20px 50px;
    }
    .navbar__center {
        gap: 20px;
    }
    .get-the-app--title {
        line-height: 40px;
    }
    .get-the-app--desc {
        line-height: 24px;
    }
    .message--item__text {
        padding: 20px 10px;
        position: relative;
    }
    .navbar__center--item {
        font-size: 18px;
        line-height: 25px;
        font-family: 'Poppins';
        font-weight: 600;
    }
    .how__content {
        display: grid;
        grid-template-columns: 1fr 80px 1fr 80px 1fr;
        align-items: center;
        margin-top: 32px;
    }
}