:root {
    --color-primary: #ff5722;
    --color-background: #10375c;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, sans-serif, Arial;
}

body {
    max-width: 1440px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.hero-header {
    position: relative;
}

.navbar {
    padding: 31px 162px 20px 162px;
    background-color: var(--color-background);
    display: grid;
    gap: 90px;
    grid-template-columns: 200px 1fr 80px;
    border-bottom: 15px solid var(--color-white);
    position: relative;
    z-index: 1;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.navbar__left {
    cursor: pointer;
}

.name {
    font-size: 31px;
    color: var(--color-white);
    line-height: 46px;
    font-weight: 700;
    font-family: 'Poppins';
}

.name__primary {
    color: var(--color-primary);
}

.sub__navbar {
    margin-top: 10px;
}

.sub__navbar--item {
    height: 20px;
    position: relative;
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.sub__navbar--item::after {
    position: absolute;
    content: "";
    width: 0;
    right: 0;
    border-top: 8px solid var(--color-white);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: calc(100% + 5px);
    bottom: 0px;
    top: 60%;
    transform: translateY(-50%);
}

.sub__navbar--item+.sub__navbar--item {
    margin-left: 38px;
}

.navbar__center {
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px 56px;
    justify-content: space-around;
}

.navbar__center--item {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.navbar__center--item:first-child {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.profile {
    border-radius: 50%;
    background-color: var(--color-primary);
    width: 44.2px;
    height: 44.2px;
    position: relative;
    cursor: pointer;
}

.profile::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    top: 50%;
    border-top: 12px solid var(--color-white);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.icon__profile {
    width: 21px;
    height: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar__bottom--border {
    background-color: #FFFFFF;
    height: 15px;
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
}

.header-picture {
    height: 686px;
    background: url('../image/isaac-benhesed-1SbJCq-vHpI-unsplash 1@2x.png');
    background-size: cover;
    background-color: rgba(13, 44, 74, 0.07);
    position: relative;
}

.CTA-text {
    padding-top: 176px;
    margin-left: 155px;
    max-width: 504px;
}

.CTA-text__title {
    font-size: 68px;
    line-height: 78px;
    color: var(--color-background);
    font-weight: 700;
}

.CTA-text__desc {
    color: var(--color-background);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 30px;
}

.explore-more {
    cursor: pointer;
    line-height: 27px;
    align-items: center;
    margin-top: 30px;
}

.explore-more img {
    width: 40px;
}

.explore-more__link {
    color: var(--color-primary);
    font-weight: 700;
    text-decoration-line: none;
    border-bottom: 1px solid var(--color-primary);
    line-height: 23px;
    font-size: 20px;
}

.explore-more__arrow {
    width: 39px;
    height: 100%;
    margin-left: 11px;
}

.what-do-your-need {
    position: absolute;
    left: 155px;
    right: 155px;
    bottom: -70px;
}

.what-do-your-need__form {
    background-color: var(--color-background);
    margin-bottom: 17px;
    border-radius: 10px;
}

.what-do-your-need__title {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 18px;
    font-family: 'Poppins';
    line-height: 45px;
}

fieldset {
    width: 80%;
    margin: 0 10%;
    border: none;
    height: 100%;
}

.what-do-your-need__content {
    display: grid;
    gap: 2%;
    grid-template-columns: 32% 32% 32%;
    margin-top: 12px;
    padding-bottom: 40px;
}

.form__label {
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select__option {
    position: relative;
    width: 100%;
}

.select__option::after {
    position: absolute;
    top: calc(50% + 5px);
    right: 16px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__control {
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-white);
    padding: 12px 23px;
    border: none;
    margin-top: 5px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #676767;
    outline: none;
    cursor: pointer;
    appearance: none;
}

.form__btn {
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: 10px;
    background-color: var(--color-primary);
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    font-family: 'Montserrat';
    color: var(--color-white);
    cursor: pointer;
    padding: 14px 0;
    width: 25%;
    max-width: 286px;
}

.form__btn img {
    width: 25px;
    height: 14px;
}

.how-it-works__section {
    background: rgba(255, 87, 34, 0.11);
    padding: 107px 146px 43px 146px;
}

.how__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Montserrat';
    color: #333333;
    text-align: center;
}

.how__content {
    display: grid;
    grid-template-columns: 1fr 138px 1fr 138px 1fr;
    align-items: center;
    margin-top: 32px;
}

.how__item {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    max-height: 72px;
    color: #333333;
    overflow: hidden;
}

.how__item--content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.gird--gap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 9px;
}

.gird--gap span {
    font-size: 12px;
    font-weight: 500;
}

.line {
    width: 100%;
    border-bottom: 1px solid;
}

.how__item img {
    height: 50px;
    width: 50px;
    background-color: var(--color-background);
    border-radius: 5px;
}

.how__item--title {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat';
    line-height: 18px;
}

.how__item--desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.featured__section {
    margin-left: 95px;
    margin-top: 102px;
}

.featured__top {
    display: grid;
    margin: 0 60px;
    justify-content: space-evenly;
    grid-template-columns: 216px calc(100% - 319px) 123px;
}

.featured__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Monrserrat';
    color: var(--color-background);
    text-transform: capitalize;
}

.featured__title span {
    border-bottom: 3px solid var(--color-primary);
    padding-bottom: 4px;
}

.featured__category {
    display: flex;
    justify-content: space-evenly;
    gap: 46px;
    flex-wrap: wrap;
    margin: auto;
}

.featured__category--btn {
    background-color: var(--color-white);
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #333333;
    padding: 11px 15px 11px 42px;
    border: 1px solid #333333;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.featured__category--btn:first-child {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}

.featured__category--btn img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
}

.featured__arrow--btn {
    background-color: var(--color-white);
    border: none;
    padding: 16px;
    cursor: pointer;
}

.featured__arrow--btn:last-child {
    background-color: var(--color-primary);
    border-radius: 31px;
}

.featured__arrow--btn img {
    width: 27px;
    height: 27px;
}

.featured_houses {
    padding: 5px 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 35px;
    overflow: hidden;
    margin-top: 43px;
}

.houses__item {
    padding: 8px;
    border-radius: 5px;
    position: relative;
    min-width: 276px;
    min-height: 548px;
}

.houses__item--img {
    display: flex;
    width: 250px;
    height: 343px;
    border-radius: 27px;
    background: #C4C4C4;
    top: 10px;
    right: 13px;
    left: 12px;
    position: absolute;
    overflow: hidden;
}

.houses__item--img img {
    width: 250px;
    height: 343px;
    border-radius: 27px;
}

.house__item--logo {
    position: absolute;
    left: -28px;
    top: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    background: rgba(16, 55, 92, 0.57);
    border-radius: 27px;
    width: 162px;
    height: 41px;
}

.house__item--logo img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 37px;
}

.house__item--logo span {
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
}

.logo0 {
    background-color: rgba(28, 66, 101, 0.5);
}

.logo1 {
    background: rgba(255, 87, 34, 0.57);
}

.houses__item:hover {
    box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.25);
}

.house__title {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.house__tilte--wifi img {
    width: 12px;
    height: 12px;
}

.house__title {
    position: absolute;
    top: 372px;
    left: 16px;
}

.house__title--label {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Montserrat';
    color: #333333;
}

.house__tilte--Bedroom,
.house__tilte--wifi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 6px;
    display: flex;
    flex-direction: column;
}

.house__tilte--wifi {
    margin-left: 16px;
}

.house__tilte--Bedroom {
    margin-left: 34px;
}

.house__tilte--wifi span,
.house__tilte--Bedroom span {
    margin-top: 3px;
}

.house__tilte--Bedroom img {
    width: 12px;
    height: 12px;
}

.house__sale {
    position: absolute;
    top: 415px;
    left: 19px;
}

.house__sale img {
    width: 9px;
    height: 8px;
}

.house__sale--number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #10375C;
}

.house__sale--unit {
    font-size: 10px;
    font-weight: 500;
    line-height: 6px;
    font-family: 'Montserrat';
}

.house__interest {
    position: absolute;
    top: 448px;
    left: 16px;
    width: 218px;
    height: 25px;
}

.interest__img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 25px;
}

.interest__img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}

.interest__img--number {
    position: absolute;
    left: 40px;
    color: var(--color-white);
    font-weight: 400;
    font-size: 14px;
    top: 5px;
}

.interest__img--item:nth-child(1) {
    left: 0;
    top: 0;
    position: absolute;
}

.interest__img--item:nth-child(2) {
    top: 0;
    left: 17px;
    position: absolute;
}

.interest__img--item:nth-child(3) {
    left: 33px;
    top: 0;
    position: absolute;
}

.interest__text {
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 6px;
    position: absolute;
    left: 78px;
    min-width: 156px;
    top: 50%;
    transform: translateY(-50%);
}

.house__btn {
    position: absolute;
    top: 490px;
    left: 42px;
    right: 42px;
    bottom: 13px;
    background-color: var(--color-primary);
    border-radius: 7px;
    border: none;
    color: var(--color-white);
    width: 193px;
    height: 45px;
    cursor: pointer;
}

.house__btn img {
    width: 17px;
    height: 10px;
    margin-left: 4px;
}

.popular__section {
    margin: 100px 152px 0 156px;
}

.popular__top {
    display: flex;
    justify-content: space-between;
}

.popular__top--right {
    width: 174px;
    cursor: pointer;
}

.popular__title--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
    color: var(--color-background);
    text-transform: uppercase;
}

.popular__title__bottom {
    background-color: var(--color-primary);
    border-radius: 50px;
    width: 150px;
    height: 3px;
    margin-top: 4px;
}

.popular__link {
    color: var(--color-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
}

.popular__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
    height: 796px;
}

.popular__content--item {
    position: relative;
    width: 258px;
    height: 739px;
    background-color: rgba(51, 51, 51, 0.5)
}

.popular__content--item--background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 1;
}

.popular__content--item img {
    width: 100%;
    height: 100%;
}

.popular__content--item__label {
    position: absolute;
    top: 649px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.popular__content--item:nth-child(even) {
    transform: translateY(57px);
}

.become-a-host__section {
    margin: 124px 154px 0 155px;
    background: url('../image/Rectangle-39.png'), #10375C;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 400px;
}

.become-a-host__rectangle {
    background: rgba(16, 55, 92, 0.76);
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.become-a-host--content {
    width: 310px;
    color: var(--color-white);
}

.become-a-host--content--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.become-a-host__btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    padding: 14px 46px;
    border-radius: 10px;
    margin-top: 24px;
    cursor: pointer;
}

.become-a-host--content--desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
}

.testimonial__section {
    background-color: var(--color-background);
    position: relative;
    margin-top: 102px;
    padding: 0 165px;
}

.testimonial__section>img {
    width: 176px;
    height: 149px;
    position: absolute;
    right: 96px;
    top: 48px;
}

.testimonial--title {
    padding-top: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 64px;
    color: #FFFFFF;
}

.testimonial--message {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 16px;
}

.message--item__text {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px 40px 55px 55px;
    position: relative;
}

.message--item__text::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 12px solid var(--color-white);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.message--item__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.message--item__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-top: 12px;
}

.testimonial-info {
    display: flex;
    color: var(--color-white);
    width: 264px;
    margin: auto;
    margin-top: 26px;
    padding-left: 21px;
    align-items: center;
}

.testimonial-info img {
    width: 56px;
    height: 56px;
}

.testimonial-info--text {
    margin-left: 9px;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-family: 'Montserrat';
}

.testimonial-info--name {
    font-weight: 700;
}

.testimonial-info--address {
    font-weight: 500;
}

.dot__content {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    margin-top: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.dot+.dot {
    margin-left: 12px;
}

.dot.dot__active {
    background-color: var(--color-primary);
    border: none;
    opacity: 1;
}

.get-the-app__section {
    position: relative;
    margin-top: 137px;
    margin-left: 452px;
    background: rgba(255, 87, 34, 0.11);
    height: 460px;
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 179px;
}

.get-the-app--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    color: #333333;
    width: 100%;
    max-width: 631px;
}

.get-the-app--desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-top: 19px;
    max-width: 631px;
}

.get-the-app--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 18px;
}

.get-the-app__img {
    margin-top: 6px;
}

.get-the-app__img img {
    width: 135px;
    height: 40px;
    cursor: pointer;
}

.get-the-app__img img:last-child {
    margin-left: 12px;
}

.get-the-app__phone {
    position: absolute;
    height: 626px;
    width: 440px;
    top: -90px;
    left: -295px;
}

.get-the-app__phone>img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}

.get-the-app--background {
    background-color: var(--color-background);
    width: 249px;
    height: 541px;
    transform: rotate(-17deg);
    position: absolute;
    top: 40px;
    left: 95px;
    z-index: 1;
}

.get-the-app--name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-17deg);
    position: absolute;
    top: 294px;
    left: 146px;
    z-index: 4;
}

.get-the-app--name span {
    color: var(--color-primary);
}

.logo__custom.logo__title {
    color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 200px;
    transform: rotate(-20deg);
}

.partners__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 155px 0 158px;
    margin-top: 120px;
}

.partners--left {
    height: 133px;
    width: 450px;
}

.partners__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #333333;
}

.partners__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-top: 21px;
}

.partners--right img {
    width: 108px;
    height: 108px;
}

.layer__one {
    height: 486px;
    width: 486px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
}

.layer__one>img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate( -50%, -38%);
}

.layer__one>img:nth-child(2) {
    position: absolute;
    top: 19%;
    left: -30px;
}

.layer__one>img:nth-child(3) {
    position: absolute;
    top: 19%;
    right: -30px;
}

.layer__one>img:nth-child(4) {
    position: absolute;
    bottom: 9%;
    left: -15px;
}

.layer__one>img:nth-child(5) {
    position: absolute;
    bottom: 9%;
    right: -15px;
}

.layer__one>img:nth-child(6) {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate( -50%, -38%);
}

.layers__two {
    height: 340px;
    width: 340px;
    border: 70px solid var(--color-background);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.layers__two>img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);
}

.layers__two>img:nth-child(2) {
    position: absolute;
    top: 60%;
    left: -40px;
}

.layers__two>img:nth-child(3) {
    position: absolute;
    top: 60%;
    right: -40px;
}

.partners__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.partners__bottom--item {
    border-bottom: 2px solid;
    min-width: 200px;
}

.stats__section {
    margin: 130px 155px 0 175px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.stats__item {
    padding-bottom: 16px;
    border-bottom: 2px solid;
    width: 25%;
}

.stats__item--number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.stats__item--name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #18191F;
}

.info-company {
    background: #10375C;
    display: flex;
    padding: 82px 161px 60px 161px;
    justify-content: space-between;
    margin-top: 48px;
    gap: 183px;
}

.info {
    min-width: 225px;
}

.info--name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
    color: #FFFFFF;
}

.info--name span {
    color: var(--color-primary);
}

.info--desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}

.info--desc.d2 {
    margin-top: 9px;
}

.social__links {
    margin-top: 19px;
    display: flex;
    gap: 16px;
}

.social__links--img {
    padding: 10px 7px;
}

.social__links--img img {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.footer__links {
    display: grid;
    grid-template-columns: auto auto 255px;
    justify-content: start;
}

.links__col {
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

.links__col h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.links__col>a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #D9DBE1;
    text-decoration: none;
    margin-top: 24px;
}

.links__input--content {
    position: relative;
    height: 40px;
    width: 255px;
    margin-top: 24px;
}

.links__input--content input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 8px;
    padding: 9px 7px 7px 12px;
    width: 100%;
}

.links__input--content input:focus {
    opacity: 1;
    color: #000000;
    outline: none;
}

.links__input--content img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 230px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}